 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Only a guy wanting to find a place between the small ones </p>
                </div>
                <div class="col-lg-4">
                    <p>I'm a Automation Technician, Electrical Engeneering Student and Programmer at free times </p>
                </div>
            </div>
        </div>
    </section>
